body {
  background-image: url('https://images.unsplash.com/photo-1475274047050-1d0c0975c63e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1472&q=80');
}

.logo {
  margin: auto;
  width: 30%;
  padding: 10px;
  max-height: 500px;
  display: block;
  max-width: 100%;
  height: auto;
}

h2 {
  font-size: 250%;
  padding: 20px;
  color: yellow;
  text-align: center;
}

p {
  color: white;
}
.outline {
  text-align: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  
 }
.collections {
  box-shadow: 3px 3px 7px 2px yellow;
  border-radius: 7px;
  margin-top: 5%;
  width: calc(100% / 3 - 10%);
  height: calc(100% / 3 - 10%);
  flex-direction: column;
}
.collections:hover {
  box-shadow: 3px 3px 17px 12px yellow;
}